.bg-blue {
  background: #5094f2;
}
.bg-red {
  background: #d94748;
}
.bg-yellw {
  background: #ebbb11;
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  #myCarousel img {
    max-width: 52% !important;
    margin: auto;
  }
  #myCarousel img .tagline {
    color: #ffffff;
    font-weight: 300;
    margin-top: 13px;
    padding-left: 35px;
    float: right;
  }
  #myCarousel img .tagline h1 {
    font-weight: 300;
    font-size: .8em !important;
  }
  #myCarousel img .tagline .lead {
    font-size: .8em !important;
    line-height: 1em;
  }
  .service {
    text-align: left !important;
    padding: 20px 20px !important;
    border-bottom: 1px solid #efefef;
  }
  .service h4 {
    color: #5094f2;
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: 500;
  }
  .service p {
    font-size: 1.1em;
  }
  .glyph {
    -webkit-border-radius: 100px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100px;
    -moz-background-clip: padding;
    border-radius: 100px;
    background-clip: padding-box;
    height: 100px !important;
    width: 100px !important;
    float: left;
    margin-right: 20px !important;
  }
  .glyph .icon {
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    font-size: 3em !important;
  }
  .glyph .icon:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #myCarousel img {
    max-width: 35% !important;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
  }
  .hero {
    height: 250px !important;
  }
  .tagline {
    color: #ffffff;
    font-weight: 300;
    margin-top: 5px !important;
    padding-left: 35px;
    position: absolute;
    left: 40%;
  }
  .tagline h1 {
    font-weight: 300;
    font-size: 1.5em !important;
    line-height: 1.1em;
  }
  .tagline .lead {
    font-size: 1.1em !important;
    line-height: 1em;
  }
}
@media (max-width: 480px) {
  .logo {
    max-width: 220px;
    position: absolute;
    left: 5;
  }
  .navbar-inner {
    width: 50%;
  }
  #myCarousel img {
    max-width: 55%;
    text-align: center !important;
    margin: auto;
  }
  .hero [class^="span"],
  .hero [class*="span"] {
    text-align: center !important;
  }
  .tagline {
    margin: 0px auto !important;
    padding-left: 0px !important;
  }
  .tagline h1 {
    font-size: 1.7em !important;
  }
  .tagline .lead {
    font-size: 1.3em !important;
    line-height: 1em;
  }
  .glyph {
    height: 125px !important;
    width: 125px !important;
    float: none;
    margin: 0px auto !important;
  }
  .glyph .icon {
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    font-size: 4em !important;
  }
  .service h4 {
    color: #5094f2;
    font-size: 1.3em !important;
    line-height: 1.0em !important;
    font-weight: 500;
    text-align: center;
  }
  .service p {
    font-size: 1.1em;
    text-align: center;
  }
  footer > ul > li {
    padding: 5px;
  }
}
header {
  padding: 15px 0px;
}
header .logo {
  float: left;
}
.container {
  max-width: 1000px;
  position: relative;
}
.nav-collapse.collapse {
  height: auto \9 !important;
  overflow: visible \9 !important;
}
.navbar,
.navbar-inner,
.nav,
.navbar-inverse {
  float: right;
  background: #fff !important;
  filter: none !important;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  margin: 0;
}
.navbar .btn-navbar,
.navbar-inner .btn-navbar,
.nav .btn-navbar,
.navbar-inverse .btn-navbar {
  background: #5094f2;
}
.navbar .btn-navbar:hover,
.navbar-inner .btn-navbar:hover,
.nav .btn-navbar:hover,
.navbar-inverse .btn-navbar:hover {
  background: #2177ee;
}
.navbar-inner {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  margin: 0 0 0 0;
  bottom: -15px;
}
.navbar .nav > li > a {
  color: #6c6c6c;
  text-shadow: none;
  font-size: 20px;
  padding: 20px;
  padding: 20px 15px \9;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background: #5094f2 !important;
  color: #fff;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  color: #5094f2 !important;
  text-decoration: none;
  border-bottom: 4px solid #5094f2 !important;
  background-color: #fff !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navbar .nav > .active > a:hover {
  border-bottom: 4px solid #5094f2 !important;
  background: #5094f2 !important;
  color: #fff !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hero {
  width: 100%;
  display: block;
  max-height: 490px;
  background: url(../img/bg-hero.png) repeat center;
  z-index: 10;
  height: 480px;
}
.hero .tagline {
  color: #ffffff;
  font-weight: 300;
  margin-top: 93px;
  padding-left: 35px;
  float: right;
}
.hero .tagline h1 {
  font-weight: 300;
}
.hero .tagline .lead {
  font-size: 1.8em;
  line-height: 2em;
}
.carousel-control {
  position: absolute;
  top: 50%;
  left: -35px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 8em;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  border: none;
  background: none;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  left: auto;
  right: -41px;
}
.scallop {
  width: 100%;
  background: url(../img/scallop.png) repeat;
  margin-top: -16px;
  height: 16px;
  z-index: 10000;
}
.service {
  text-align: center;
  padding: 10px 30px;
}
.service h4 {
  color: #5094f2;
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: 500;
}
.service p {
  font-size: 1.1em;
}
.glyph {
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  height: 185px;
  width: 185px;
  margin: auto;
}
.glyph:hover {
  background: #6c6c6c;
}
.glyph .icon {
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  color: #fff;
  font-size: 6em;
  text-align: center;
  padding-top: 29%;
}
.glyph .icon:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.btn {
  background: #5094f2;
  color: #ffffff;
  font-size: 22px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  border: none;
  line-height: 20px;
  padding: 10px 15px;
  text-shadow: none;
}
.btn:hover,
.btn:focus {
  background-color: #73a9f5;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
.btn:hover .ikon-ok-circle,
.btn:focus .ikon-ok-circle {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.desc {
  margin-top: 40px;
}
.desc h3 {
  font-weight: 300;
  font-size: 26px;
}
.desc p {
  font-size: 15px;
  line-height: 2.5em;
  font-weight: 300;
}
input[type="text"] {
  padding: 19px 6px;
  margin-right: 20px;
}
.embed-box {
  position: relative;
  padding-bottom: 62.25%;
  /* ratio for youtube embed */

  padding-top: 30px;
  height: auto;
  overflow: hidden;
}
.embed-box iframe,
.embed-box object,
.embed-box embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  margin-top: 20px;
  height: 96px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWNhY2FjIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -moz-linear-gradient(top, #c4c4c4, #acacac);
  background-image: -webkit-linear-gradient(top, #c4c4c4, #acacac);
  background-image: -o-linear-gradient(top, #c4c4c4, #acacac);
  background-image: linear-gradient(to bottom, #c4c4c4, #acacac);
}
footer ul {
  margin-top: 20px;
  text-align: center;
}
footer ul li {
  padding: 10px;
  display: inline;
}
footer ul li a {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 500;
}
