
// Main Colors
// -------------------------
@base:      #34495e;
@firm:      #1abc9c;

@blue:		#5094f2;
@red:		#d94748;
@yellw:		#ebbb11;
@gray:      #6c6c6c;
@lightgray: #bdc3c7;
@inverse:   white;

.bg-blue	{background: @blue ;}
.bg-red		{background: @red ;}
.bg-yellw	{background: @yellw ;}

@success:   #2ecc71;
@danger:    #e74c3c;
@warning:   #f1c40f;
@info:      #3498db;

@link-color: #16a085;
@link-hover-color: #1abc9c;


// Buttons
@button-text:           @inverse;
@button-hover:          mix(@blue, white, 80%);
@button-active:         mix(@blue, black, 85%);

