//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// Main Colors
// -------------------------
@base:      #34495e;
@firm:      #1abc9c;

@blue:		#5094f2;
@gray:      #95a5a6;
@lightgray: #bdc3c7;
@inverse:   white;

@success:   #2ecc71;
@danger:    #e74c3c;
@warning:   #f1c40f;
@info:      #3498db;

@link-color: #16a085;
@link-hover-color: #1abc9c;

// Typography
@h1: @base-font-size * 4.429; /* 62px */
@h2: @base-font-size * 3.714; /* 52px */
@h3: @base-font-size * 2.857; /* 40px */
@h4: @base-font-size * 2.071; /* 29px */
@h5: @base-font-size * 2;     /* 28px */
@h6: @base-font-size * 1.714; /* 24px */

// Icons
@icon-normal: 16px;
@icon-large:  32px;
@icon-medium: 18px;

// Social colors
// -------------------------
@social-pinterest:   #cb2028;
@social-linkedin:    #0072b5;
@social-stumbleupon: #ed4a13;
@social-googleplus:  #2d2d2d;
@social-facebook:    #2f4b93;
@social-twitter:     #00bdef;

// Typography
// -------------------------
@base-font-family: "Open Sans", sans-serif;
@base-font-size: 14px;
@base-line-height: 1.231;

// Tables
@table-bg-active: lighten(@base, 69.4%);
@table-border:    mix(@gray, white, 16.5%);
@table-success:   mix(@success, white, 9%);
@table-danger :   mix(@danger, white, 9%);
@table-warning:   mix(@warning, white, 9%);
@table-info:      mix(@info, white, 9%);

// Inputs
// -------------------------
@input-border-radius: 6px;

// Datepicker
// -------------------------
@datepicker-border-radius: 6px;

// Pagination
// -------------------------
@pagination-color: mix(@base, white, 20%);

// Pager
// -------------------------
@pager-padding: 9px 15px 10px;

// Buttons
@button-text:           @inverse;
@button-hover:          mix(@lightgray, white, 80%);
@button-active:         mix(@lightgray, black, 85%);
@button-primary-hover:  mix(@firm, white, 80%);
@button-primary-active: mix(@firm, black, 85%);
@button-info-hover:     mix(@info, white, 80%);
@button-info-active:    mix(@info, black, 85%);
@button-success-hover:  mix(@success, white, 80%);
@button-success-active: mix(@success, black, 85%);
@button-danger-hover:   mix(@danger, white, 80%);
@button-danger-active:  mix(@danger, black, 85%);
@button-warning-hover:  overlay(@warning, darken(white, 37.5%));
@button-warning-active: mix(@warning, black, 85%);
@button-inverse-hover:  overlay(@base, darken(white, 37.5%));
@button-inverse-active: mix(@base, black, 85%);

// Navs
// -------------------------
@nav-tabs-border-width:  2px;
@nav-tabs-border-color:  mix(@base, white, 15%);
@nav-tabs-color:         mix(@base, white, 63%);
@nav-tabs-active-color:  mix(@base, white, 63%);
@nav-tabs-hover-color:   @firm;
@nav-border-radius:      6px;
@nav-item-border-radius: @nav-border-radius - @nav-tabs-border-width;
@nav-open-zindex:        1001;
@nav-list-gap:           13px;

// Navbar
// -------------------------
@navbar-link-space:    20px;
@navbar-sublink-space: 9px;

// Dropdown Menu
// -------------------------
@dropdown-background: mix(@inverse, @base, 94%);

// Iconbar
// -------------------------
@iconbar-background: mix(@base, black, 85%);

// Progress/slider
// -------------------------
@progress-height: 12px;

// Dialog
// -------------------------
@dialog-font-size: @base-font-size * 1.142;
@dialog-padding: 18px;

// Alerts
// -------------------------
@alert-bg:     mix(@base, white, 3%);
@alert-border: mix(@base, white, 10%);

// Switch
// -------------------------
@switch-border-radius: 30px;
@switch-width: 80px;

/// Resposive
// -------------------------
@rwd-container-space: 20px;

