@import "lesshat.less";
@import "colors.less";
@import "media.less";






header {
	padding: 15px 0px;

	.logo{
		float: left;
	}
}
.container{
	max-width: 1000px;
	position: relative;
}

.nav-collapse.collapse {
    height: auto \9 !important;
    overflow: visible \9 !important;
}
.navbar, 
.navbar-inner, 
.nav,
.navbar-inverse {
	float: right;
	background: #fff !important;
	filter: none !important;
	border: none;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
	padding: 0px;
	margin: 0;	
		.btn-navbar{
			background: @blue;
			&:hover{
				background: darken(@blue, 10%);
			};
		}
}
.navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar .nav{
	position: relative;
	left: 0;
	display: block;
	margin: 0 0 0 0;
	bottom: -15px;
}
.navbar .nav > li > a {
	color: @gray;
	text-shadow: none;
	font-size: 20px;
	padding: 20px;
	padding: 20px 15px \9;
	.transition-duration(150ms);
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	//border-top:4px solid @blue !important;	
  	background: @blue !important;		
  	color: #fff;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: @blue !important;	
  	text-decoration: none;
	border-bottom:4px solid @blue !important;	
  	background-color: #fff !important;	
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.navbar .nav > .active > a:hover {
	border-bottom:4px solid @blue !important;	
  	background: @blue !important;		
  	color: #fff !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.hero{
	width: 100%;
	display: block;
	max-height: 490px;
	background: url(../img/bg-hero.png) repeat center;
	z-index: 10;
	height: 480px;

		.tagline{
			color: @inverse;
			font-weight: 300;
			margin-top:93px;
			padding-left: 35px;
			float:right;
			 h1{font-weight: 300;}
			 .lead{
			 	font-size: 1.8em;
			 	line-height: 2em;
			 }

		}
}

.carousel-control {
	position: absolute;
	top: 50%;
	left: -35px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 8em;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	border: none;
	background: none;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.carousel-control.right {
	left: auto;
	right: -41px;
}

.scallop{
	width: 100%;
	background: url(../img/scallop.png)repeat;
	margin-top: -16px;
	height: 16px;
	z-index: 10000;
}
.service{
	text-align: center;
	padding: 10px 30px;
		h4{
			color: @blue;
			font-size:  1.5em;
			line-height: 1.8em;
			font-weight: 500;
		}
		p{
			font-size: 1.1em;
		}
}

.glyph{
	.border-radius(100px);
	height: 185px;
	width: 185px;
	margin: auto;

		&:hover{
			background: @gray;
		}

		
		.icon{
			.transition-duration(250ms);
			color: #fff;
			font-size: 6em;
			text-align: center;
			padding-top: 29%;		
		}		
		.icon:hover{.transform(scale(1.15));}
}

.btn{
	background: @blue;
	color: @inverse;
	font-size: 22px;
	.border-radius(2px);
	border: none;
	line-height: 20px;
    padding: 10px 15px;
    text-shadow:none;
	  &:hover,
	  &:focus{
	    background-color: @button-hover;
	    color: @inverse;
	    outline: none;
	    .transition(0.25s);
	    .ikon-ok-circle{.rotate(45deg);};
  }

}

.desc {
	margin-top: 40px;

		h3 {
			font-weight: 300;
			font-size: 26px;

		}
		p{
			font-size: 15px;
			line-height: 2.5em;
			font-weight: 300;
		}

}

input[type="text"]{
	padding: 19px 6px;
	margin-right: 20px;
}

.embed-box {
    position: relative;
    padding-bottom: 62.25%; /* ratio for youtube embed */
    padding-top: 30px;
    height: auto;
    overflow: hidden;
}

.embed-box iframe,
.embed-box object,
.embed-box embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer{
	margin-top: 20px;
	height: 96px;
	.background-image (linear-gradient(to bottom, #c4c4c4, #acacac)); 
		ul{
			margin-top: 20px;
			text-align: center;
			li{
				padding: 10px;
				display: inline;
				a {
					color: @inverse;
					font-size: 1.1em;
					font-weight: 500;

				}
			}
		}
}







