


@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
	#myCarousel img{
		max-width: 52% !important;
		margin: auto;
		.tagline{
			color: @inverse;
			font-weight: 300;
			margin-top:13px;
			padding-left: 35px;
			float:right;
			 h1{
			 	font-weight: 300;
			 	font-size: .8em !important;
			 }
			 .lead{
			 	font-size: .8em !important;
			 	line-height: 1em;
			 }

		}
	}
	.service{
	text-align: left !important;
	padding: 20px 20px !important;
	border-bottom: 1px solid #efefef;
		h4{
			color: @blue;
			font-size:  1.2em;
			line-height: 1.1em;
			font-weight: 500;
		}
		p{
			font-size: 1.1em;
		}
}
	.glyph{
	.border-radius(100px);
		height: 100px !important;
		width: 100px !important;
		float:left;
		margin-right: 20px !important;

		.icon{
			.transition-duration(250ms);
			font-size: 3em !important;			
		}		
		
		.icon:hover{.transform(scale(1.15));}
	}
	
}

@media (min-width: 481px) and (max-width: 767px) {
	#myCarousel img{
		max-width: 35% !important;
		margin-right:10px;
		margin-left:10px;
		float: left;
	}

		.hero{
			height: 250px !important;	
		}
		.tagline{
			color: @inverse;
			font-weight: 300;
			margin-top:5px !important;
			padding-left: 35px;
			position: absolute;
			left:40%;
			 h1{
			 	font-weight: 300;
			 	font-size: 1.5em !important;
			 	line-height: 1.1em;
			 }
			 .lead{
			 	font-size: 1.1em !important;
			 	line-height: 1em;
			 }

		}
	

}

@media (max-width: 480px) {
	.logo {
		max-width: 220px;
		position: absolute;
		left: 5;
	}
	.navbar-inner{
		width: 50%;
	}

	#myCarousel img{
		max-width: 55%;
		text-align: center !important;
		margin: auto;
	}
	.hero{
		[class^="span"],[class*="span"] {text-align: center !important;}
	}
	

	.tagline {
		margin: 0px auto !important;
		padding-left: 0px !important;

			h1{
				font-size: 1.7em !important;
			}
			.lead{
				font-size: 1.3em !important;
				line-height: 1em;
			}
	}
	.glyph{
		height: 125px !important;
		width: 125px !important;
		float:none;
		margin: 0px auto !important;

		.icon{
			.transition-duration(250ms);
			font-size: 4em !important;			
		}
	}
	.service{

		h4{
			color: @blue;
			font-size:  1.3em !important;
			line-height: 1.0em !important;
			font-weight: 500;
			text-align: center;
		}
		p{
			font-size: 1.1em;
			text-align: center;
		}
	}
	footer > ul > li{
		padding: 5px;
	}

}